<ion-header>
  <ion-toolbar>
      <ion-buttons slot="start">
          <ion-menu-button></ion-menu-button>
        </ion-buttons>
    <ion-title>locations</ion-title>
  </ion-toolbar>
  <ion-row>
  <ion-col text-end>
    <ion-button (click)="loadMap()" shape="round" fill="outline">
      <ion-icon slot="start" name="locate"></ion-icon>
      Where I Am
    </ion-button>
  </ion-col>
  </ion-row>
</ion-header>

<ion-content>
  <div class="map-wrapper">
    <div id="map_center">
      <img src="../../assets/icon/center_marker.png" />
    </div>
    <div #map id="map"></div>
  </div>
  <div id="address">
    <span>{{address}}</span>
  </div>
</ion-content>
<ion-footer>
  <ion-toolbar>
    <ion-title></ion-title>
  </ion-toolbar>
</ion-footer>
